@import url(./responsividade.css);
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 240px;
    background-color: #CFD6E6;
    z-index: 3;
}

.logo {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px; /*espaçamento vertical */
}

.logo-img {
    width: 50%;
    height: auto;
}

.logo-txt {
    color: #fff;
    font-size: 2rem;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.logo-text:hover {
    color: #1E3283;
}

.nav {
    width: 60%;
}

ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
li {
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    color: #1E3283;
    padding: 0 10px;
}

li:hover {
    color: #cdba6d;
    cursor: pointer;
}

#menu-icon {
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.modal {
    width: 100%;
    height: 115vh;
    position: absolute;
    background-color: rgba(0, 0, 0,0.7);
}

.home-container {
    background-image: url(./images/mindsetBackground.png);
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 115vh;
    display: flex;
    justify-content: center;
}

.presentation-container {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-top: 150px;
    padding: 10px;
    color: #fff;
    z-index: 1;
}

.presentation-container h3 {
    letter-spacing: 6px;
    font-family: "Poppins", sans-serif;
    font-weight: 00;
    font-size: normal;
    color: #c8b050;
}

.presentation-container h1 {
    font-size: 3.5rem;
    text-align: center;
    color: white;
}

.presentation-container span {
    color: #9AA4BF;
}

.presentation-container p {
    text-align: center;
    font-size: 2.3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: normal;
    color: #fff;
}

.presentation-container button {
    width: 150px;
    height: 50px;
    background-color: #1E3283;
    color: #949AAD;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: normal;
    border: 2px solid #c8b050;
    font-size: 1rem;
    cursor: pointer;
}

.presentation-container button:hover {
    background-color: transparent;
    color: #fff;
}

.destaks-container {
    width: 100%;
    height: 300px;
    padding: 0 100px;
    position: absolute;
    top: 110vh; /* necessário validar*/
}

.destaks-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
} 

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    color: #fff;
    padding: 0 110px;
}

#square-1 {
    background-color: #353e47; 
}

#square-1 i {
    color: #c8b050 ; /* verificar mudança necessário de cor*/
    font-size: 3rem;
}

.destaks-span {
    font-size: 1.5rem;
    font-weight: bold;
}

.destaks-paragraph{
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
}

#destaks-span-gold {
    color: #c8b050;
}

#square-2 {
    background-color: #323a43;
}

#calculator-icon {
    font-size: 3rem;
}

#square-3 {
    background-color: #2e353d;
    padding: 0 100px;
}

#square-3 i {
    color: #c8b050;
    font-size: 3rem;
}

.divider {
    border: none;
    border-top: 3px solid #c8b050;
    border-radius: 20px;
    margin: 10px 0;
    width: 45%;
}
 
.divider-white {
    border-top: 3px solid #fff;
}

.company-container {
    width: 100%;
    height: 140vh;
    background-color: #37488E;
}

.about-container {
    width: 100%;
    height: 100%;
    display: flex; 
}

.about-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
}

.about-text {
   width: 70%;
   height: 40%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   row-gap: 30px;
   padding: 0 10px;
   margin-bottom: 50px; 
   background-color: #fff;
   border-radius: 10%;
}

.about-title {
    width: 100%;
}

.about-title h1 {
    font-size: 2.5rem;
    color: #1E3585;
}

.about-text span {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.about-text p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #37488E;
}

.woaman-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: end;
 }

.contadora-img{
    position: relative;
    margin-left: 70px;
    height: 50%;
    width: 85%;
    margin-right: 0px;
    margin-bottom: 10px;
    border-top-left-radius: 25%;   /* Arredondar o canto superior esquerdo */
    border-bottom-left-radius: 25%; /* Arredondar o canto inferior esquerdo */
}

.mission-container {
    width: 100%;
    height: 600px;
    position: relative;
    background-color: #fff;
    padding: 0 100px;
    text-align: center;
    gap: 90px;
}

.items-container {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1px;
    gap: 80px;
}
.mission-item {  /* New style for added class */
    display: flex; /* Allow elements to arrange horizontally */
    flex-direction: column;
    align-items: center; /* Align content vertically within the item */
    gap: 40px;
  }
  
.mission-icon {
    display: inline-flex;
    font-size: 2rem;
    color: #ffffff;
    width: 80px;
    justify-content: center;
    align-items: center;
    background: #1C3587;
    height: 80px;
    border-radius: 50%;
}

.items-container h5 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

.card-text {
    font-family: 'Inter Tight', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #343a40;
}

.professional-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
    background-color:#fff;
    align-items: center;
}

.professional-container h5 {
    font-size: 2.5rem;
    color: #1E3585;
}

.professional-content {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    padding-top: 1px;
    align-items: center;
    justify-content: center;
}

.team {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.contadoras {
    display: flex;
    flex-direction: row;
}

.team img {
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.team h4 {
    font-size: 2.5rem;
    color: #cdba6d;
    letter-spacing: 3px;
    margin-bottom: 40px; 
}

.team p {
    margin-top: 40px; 
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #37488E;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.dividerteam {
    border: none;
    border-left: 3px solid #c8b050;
    border-radius: 20px;
    margin: 0 10px;
    height: 300px; 
    width: 3px;
}

.services-container {
    width: 100%;
    height: 130vh;
    position: relative;
    background-color: #37488E;
    display: flex;
    flex-direction: column;
}

.services-title{
    height: 30%;
    width: 100%;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-title h2 {
    margin: 0;
    font-size: 1.3rem;
    letter-spacing: 6px;
    font-weight: 500;
    color: #fff;
}

.services-title h1 {
    margin: 0;
    color: #c8b050;
    font-size: 3.5rem;
}

.services-content {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 120px;
    margin-top: 30px;
}

#services-divider {
    width: 5%;
}

.services-square {
    display: flex;
    width: 100%;
    height: 200px;
}

.services-icon {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.services-text {
    width: 85%;
    height: 100%;
    padding: 20px 40px 0 10px;
}

#services-icon {
    color: #c8b050;
    font-size: 2.5rem;
}

#services-icon:hover {
    color: #fff;
    cursor: pointer;
}

.service-title {
    color: #949AAD;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 25px;
    text-decoration: underline;
}

.service-title:hover {
    color: #c8b050;
    cursor: pointer;
}

.services-description {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

.contacts {
    width: 100%;
    height: 800px;
    position: relative;
    background-color: #CFD6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

.contacts h1 {
    font-size: 2.5rem;
    color: #1E3585;
    padding-bottom: 40px;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    height: 100%;  
    width: 95%; 
}

.banches-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content:space-between;
}

.branche {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 10px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 20px; 
    color: #000000;
    gap: 20px;
}

.branche h5 {
    color: #37488E;
    font-size: 2rem;
    padding-top: 50px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.branche li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.branche ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
}

.branche-txt {
    font-style: normal;
    line-height: 1.7;
}

.branche-maps {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px; /* Adiciona um espaço entre os itens flex */  
    /*
    background-color: blue;
    padding: 10px 10px;
    align-items: center;
    */
}
.branche-map {
    width: 100%;
    height: 50%;
    margin-bottom: 1px; 
}

.branche-map iframe {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

footer {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #1C3587;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.whats {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}


@media (max-width: 1440px) {

    header {
        padding: 0 20px; /* Reduzir o padding para telas menores */
      }
    
      .logo {
        width: 180px; /* Reduzir o tamanho do logo */
      }
    
    
    .home-container {
      background-size: cover;
      background-position: center center;
    }
    .home-container img {
        max-width: 90%; /* Ajuste o valor conforme necessário */
    }
    .presentation-container {
      
        row-gap: 40px;
        padding: 20px;
    }

    .presentation-container h3 {
        letter-spacing: 4px;
    }
    
    .presentation-container h1 {
        font-size: 3.5rem;
    }
    

    .content {
        padding: 0 80px;
    }

    #square-1 i { 
        font-size: 2rem;
    }

    #square-3 {
        padding:  50px;
    }

    .destaks-span {
        font-size: 0.9rem;
    }

    .destaks-paragraph{
        font-size: 1rem;
    }

    #calculator-icon {
        font-size: 2.5rem;
    }

    #square-3 i {
        font-size: 2.5rem;
    }
    .company-container {
        height: 130vh;
    }
    
    .about-text {    
        height: 50%;
        row-gap: 20px;
        margin-bottom: 10px;
     }

     .about-title h1 {
        font-size: 2rem;
    }

    .about-text p {
        font-weight: 700;
    }
    .woaman-container {
        width: 60%;
    }

    .mission-container {
        padding: 0 90px;
        gap: 80px;
    }

    .items-container {
        margin-top: 2px;
        gap: 70px;
    }

    .mission-item {   
        gap: 30px;
    }

    .professional-container{
        height: 600px;
    }

    .professional-container {
        gap: 50px;
    }

    .services-container {
        gap: 50px;
        padding-bottom: 0px;
    }

    
    .services-title{
        height: 20%;
        padding-top: 90px;
        border-top: 0;
    }

    .services-content {
       
        width: 100%;
        height: 70%;
        padding: 0 90px;
    }

    .services-container {
        height: 150vh;
        padding-bottom: 1px;
    }
  
  }

  @media (max-width: 1280px){

    header {
        padding: 0 40px;
    }

    .home-container img {
        max-width: 80%; /* Ajuste o valor conforme necessário */
    }
    
    .presentation-container {
        row-gap: 90px;
        padding: 20px;
    }
    
    
    .presentation-container h3 {
        letter-spacing: 0px;
        font-size: 0.9rem;
    }
    
    .presentation-container h1 {
        font-size: 3rem;
    }
    
    .presentation-container p {
        font-size: 1.8rem;
        font-weight: 800;
    }
    /*
    .presentation-container {
        row-gap: 8px;
        padding: 8px;
    }
    */
    .presentation-container h3 {
        letter-spacing: 2px;
    }

   
    .content {
        padding: 0 70px;
    }

    #square-1 i {
        font-size: 1.9rem;
    }

    .destaks-span {
        font-size: 0.8rem;
    }

    .destaks-paragraph{
        font-size: 1rem;
    }

    #calculator-icon {
        font-size: 1.9rem;
    }

    #square-3 i {
        font-size: 1.9rem;
    }

    .company-container {
        height: 125vh;
    }
    
    .about-text {    
        height: 50%;
        row-gap: 20px;
        margin-bottom: 10px;
     }

     .about-title h1 {
        font-size: 1.6rem;
    }

    .about-text p {
        font-weight: 700;
        font-size: 0.9rem;
    }
    .woaman-container {
        width: 60%;
    }

    .about-text span {
        font-weight: 600;
        font-size: 0.9rem;   
    }

    .mission-container {
        padding: 0 80px;
        gap: 70px;
    }

    .items-container {
        margin-top: 1.8px;
        gap: 60px;
    }

    .mission-item {   
        gap: 25px;
    }

    .mission-icon {
        font-size: 1.8rem;
    }

    .items-container h5 {
        font-size: 1.8rem;
        line-height: 1.3;
    }
    
    .card-text {
        font-size: 1rem;
        line-height: 1.1;
    }
    
   

    .professional-container {
        gap: 30px;
    }

    
    .professional-container h5 {
        font-size: 2.2rem;
    }
    
    .professional-content {
        padding-top: 10px;
        
    }
    
    
    .team img {
        margin-left: 2px;
        margin-right: 2px;
    }
    
    .team h4 {
        font-size: 2.2rem;
        letter-spacing: 2.5px;
        margin-bottom: 35px; 
    }
    
    .team p {
        margin-top: 35px; 
        font-weight: 850;
        font-size: 0.8rem;      
    }
    

    .services-container {
        gap: 30px;
        padding-bottom: 10px;
    }

    
    .services-title{
        height: 15%;
        padding-top: 80px;
    }

    .services-content {
       
        width: 100%;
        height: 70%;
        padding: 0 80px;
    }   

    footer {
        height: 60px;
    }
    
    .whats {
        width: 60px;
    }

  }

  @media (max-width: 1024px){
    header {
        padding: 0 35px;
    }

   .home-container{
        height: 100vh;
   }

   .modal {
        height: 100vh;
   }

    .presentation-container {
        row-gap: 30px;
        padding: 35px;
    }

    .presentation-container h3 {
        letter-spacing: 0px;
        font-size: 1rem;
    }

    .presentation-container h1 {
        font-size: 2.5rem;
    }
    
    .presentation-container p {
        font-size: 1.9rem;
        font-weight: 600;
    }

    .destaks-container {
        top: 95vh; /* necessário validar*/
    }

    .content {
        padding: 0 60px;
    }

    #square-1 i {
        font-size: 1.7rem;
    }

    .destaks-span {
        font-size: 0.8rem;
    }

    .destaks-paragraph{
        font-size: 0.7rem;
    }

    #calculator-icon {
        font-size: 1.7rem;
    }

    #square-3 i {
        font-size: 1.4rem;
    }

    .company-container {
        padding-top: 0px;
        height: 90vh;
        margin: 0;
    }
 
    
    .about-text {    
        height: 60%;
        row-gap: 15px;
        margin-bottom: 8px;
     }

     .about-title h1 {
        font-size: 1.8rem;
    }

    .about-text p {
        font-weight: 800;
        font-size: 0.8rem;
    }
    .woaman-container {
        width: 60%;
    }

    .about-text span {
        font-weight: 600;
        font-size: 0.9rem;   
    }

    .mission-container {
        padding: 0 80px;
        gap: 70px;
    }

    .items-container {
        margin-top: 1.8px;
        gap: 60px;
    }

    .mission-item {   
        gap: 25px;
    }

    .mission-icon {
        font-size: 1.8rem;
    }

    .items-container h5 {
        font-size: 1.8rem;
        line-height: 1.3;
    }
    
    .card-text {
        font-size: 1rem;
        line-height: 1.1;
    }
    
   

    .professional-container {
        gap: 10px;
    }

    
    .professional-container h5 {
        font-size: 1.8rem;
    }
    
    .professional-content {
        padding-top: 60px;
        
    }
    
    
    .team img {
        margin-left: 2px;
        margin-right: 2px;
    }
    
    .team h4 {
        font-size: 2.2rem;
        letter-spacing: 2.5px;
        margin-bottom: 35px; 
    }
    
    .team p {
        margin-top: 35px; 
        font-weight: 850;
        font-size: 0.8rem;      
    }
    

    .services-container {
        gap: 20px;
        padding-bottom: 0px;
        height: 150vh
    }

    
    .services-title{
        height: 15%;
        padding-top: 70px;
    }

    .services-content {
       
        width: 100%;
        height: 100%;
        padding: 0 80px;
    }   

    footer {
        height: 60px;
    }
    
    .whats {
        width: 60px;
    }

  }

  @media (max-width: 835px){
    nav{
        display: none;
    }
    

  #menu-icon {
    display: block;
  }

  .home-container {
    background-position: 70% 50%;
    align-items: start;
    gap: 1px;
    }

  .company-container {
    width: 90%;
    height: 180vh;
    padding-top: 70vh;

  }

  .presentation-container {
    padding-top: 0;
    width: 100%;
    align-items: center;
}


.destaks-container {
    padding:  0 40px 0 40px;
    width: 100%;
    height: 25%;
  }

.destaks-content {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 5px;
}

#square-1, #square-2, #square-3 {
    border-radius: 25px 25px 25px 25px;
}



#square-1 i {
        font-size: 2.5rem;
    }

    .destaks-span {
        font-size: 1.3rem;
    }

    .destaks-paragraph{
        font-size: 1rem;
    }

    #calculator-icon {
        font-size: 2.5rem;
    }

    #square-3 i {
        font-size: 2.3rem;
    }

.content {
    height: 200px;
    row-gap: 10px;
    padding: 0 20px;
  }


  .about-text {
    width: 100%;
    align-items: center;
    
  }

  .company-container {
        width: 100%;
        padding-top: 150px;
        height: 150vh;
        /*margin: 0;*/
    }
  
  .woaman-container {
    display: none;
  }

  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-content {
    width: 90%;
    padding: 0 0px;
    border-radius: 50px;
    height: 400vh;
  
}

.about-text {    
    height: 50%;
    row-gap: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
 }

 .about-title h1 {
    font-size: 3rem;
}

.about-text p {
    font-weight: 800;
    font-size: 1.3rem;
}


.about-text span {
    font-weight: 600;
    font-size: 1.3rem;   
}

.dividerteam {
    display: none;
}

.card-text {
    font-size: 1.2rem;
    font-weight: 600;
}

.team {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.team img {
    margin-left: 20px;
  }


.team h4 {
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    margin-bottom: 10px; 
    margin-top: 30px;
}

.team p {
    font-size: 1.2rem;
    margin-top: 20px; 
    font-weight: 600;
    margin-bottom: 1px;
}

.contadoras-txt{
    margin-right: 4px;
    
}

.contadoras {
    margin-left: 10px;
    width: 95%;
    gap: 20px;
    background-color: rgba(207, 214, 230, 0.5);
    padding-bottom: 20px;
    border-radius: 15%;

}

.professional-container{
    height: 150vh;
    top: 50vh;
}

.professional-container h5 {
    background-color: rgba(207, 214, 230, 0.9);
    border-radius: 25px;
    font-size: 1.6rem;
    padding: 0 5px;
}

.professional-content {
    padding-top:  0px;
}


.items-container {
    height: auto;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 30px;
    gap: 20px;

}

.mission-icon {
    font-size: 1.3rem;
}

.items-container h5 {
    font-size: 1.8rem;
    line-height: 1.3;
}

.services-container {
    height: 200vh;
    width: 100%;
}

.services-content {

    padding: 0 120px;
    margin-top: 30px;
    grid-template-columns: repeat(2, 1fr);   
 
}

.service-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 25px;
}


.services-description {
    font-size: 1.1rem;
    font-weight: 400;
}



.contacts h1 {
    font-size: 2.3rem;
}

.contacts-container {
    width: 98%; 
}

.branche {

    width: 60%;
    padding: 6px 6px;
    /*margin-right: 20px;*/ 
    gap: 25px;
}

.branche h5 {
    font-size: 1.8rem;
    padding-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
}


.branche-txt {
    font-size: 0.9;
    line-height: 1.7;
}



}

@media (max-width: 768px){

    .professional-container{
        height: 160vh;
        font-size: 1.6rem;
    }
    
    .team h4 {
        font-size: 1.3rem;
        letter-spacing: 1.3px;
        margin-bottom: 8px; 
        margin-top: 20px;
    }
    
    .team p {
        font-size: 1rem;
        margin-top: 15px; 
        font-weight: 600;
        margin-bottom: 1px;
    }
    
    

    .services-container {
        height: 140vh;
    }
    
    .services-content {
    
        padding: 0 40px;
        margin-top: 30px;

    }
    
    .service-title {
        font-weight: 800;
        font-size: 1.3rem;
        margin-bottom: 25px;
    }
    
    
    .services-description {
        font-size: 0.9rem;
        font-weight: 700;
    }
}

@media (max-width: 600px){
    .home-container{
        height: 100vh;

    }

    .modal {
        height: 100vh;
    }

    .presentation-container {
        
        row-gap: 50px;
        padding-top: 20px;
    }

   
    .presentation-container h1 {
        font-size: 2.5rem;
    }
    
    .presentation-container p {
        font-size: 1.8rem;
        font-weight: 500;
    }
  
    .destaks-content {
        display: flex;
        flex-direction: column;
        padding-top: 175px;
    }

    #square-1 i {
        padding-top: 20px;
        font-size: 2rem;
    }
    
    #square-2 i {
        padding-top:20px;
        font-size: 2rem;
    }

    #square-3 i {
        padding-top:15px;
        font-size: 2rem;
    }

    .destaks-span {
        font-size: 1rem;
    }

    .destaks-paragraph{
        font-size: 0.8rem;
        padding-bottom: 20px;

    }

    #calculator-icon {
        font-size: 3rem;
    }

    #square-3 {
        padding: 20px;
    }
    
    .company-container {
        padding-top: 80px;
    
    }
  
   .about-title h1 {
      font-size: 2.5rem;
    }
  
    .about-text p {
      font-weight: 900;
      font-size: 1.1rem;
    }
  
  
    .about-text span {
      font-weight: 800;
      font-size: 1.3rem;   
    }
  
    .dividerteam {
      display: none;
    }

    .card-text {
    font-size: 1.1rem;
    font-weight: 700; 
    }

    .items-container{
        height: auto;
        padding-bottom: 50px;
    }

    .mission-container {
        

        margin-bottom:100px;
    }

    .professional-container {

        padding-top: 10px;
        margin-top: 0;
        padding-bottom: 80px;
    }

    .professional-content {
        height: auto;
    }

    .services-container {
        margin-top: 100px;
        height: 140vh;
    }
    
    .services-content {
    
        padding: 0 40px;
        margin-top: 30px;

    }
    
    .service-title {
        font-weight: 800;
        font-size: 1.0rem;
        margin-bottom: 25px;
    }
    
    
    .services-description {
        font-size: 0.8rem;
        font-weight: 700;
    }

    .contacts {
        height: auto;
    }
    
    .contacts-container { 
        width: 90%; 
    }
    


    .contacts h1 {
        font-size: 2.3rem;
    }
    
    .branche {
        display: flex;
        flex-direction: column;
        height: auto;
        align-items: center;
        gap: 5px;
        padding-bottom: 30px;
        width: 100%;
    }

    .branche-maps{

        height: 100vh;
        padding-top: 20px;
        
    }


    .banches-content {
        display: flex;
        flex-direction: column;

    }
    
    .branche h5 {
        padding-top: 20px;
        margin-bottom: 10px;
        /*font-size: 1.8rem;
        padding-top: 40px;
        margin-left: 20px;
        margin-bottom: 20px;
        */
    }
}

@media (max-width: 515px){

    header {
        padding: 0 15px;
    }

    .logo {
        width: 170px; 
    }

    .presentation-container {
        
        row-gap: 30px;
        padding-top: 50px;
    }

    .presentation-container h3 {
        letter-spacing: 0.8px;
        font-size: 0.9rem;
    
    }
    
    .presentation-container h1 {
        font-size: 1.9rem;
    }
    
    .presentation-container p {
        font-size: 1.5rem;
        font-weight: 600;
    }
    
    .services-title h1 {
        font-size: 2.7rem;
    }
    .services-title h2 {
        font-size: 1.5rem;
    }

    .services-content {
        
        padding: 0 30px;
        margin-top: 20px;

    }
    
    .service-title {
        font-weight: 900;
        font-size: 1.1rem;
        margin-bottom: 25px;
    }
    
    
    .services-description {
        font-size: 0.8rem;
        font-weight: 800;
        
    }

    .services-container {
        height: 150vh;
        
    }
    
}

@media (max-width: 480px){

    header {
        padding: 0 10px;
    }

    .logo {
        width: 150px; 
    }

    .card-text {
        
        font-size: 1.1rem;
        font-weight: 800; 
    }
    
    .items-container{
            
        height: auto;
        padding-bottom: 70px;
    }
    
    .mission-container {
        
        margin-bottom:400px;
    }
    
    .professional-container {
        padding-top: 10px;
        margin-top: 0;
        padding-bottom: 80px;
    }

    .services-container {
        margin-top: 140px;
    }

    .mission-icon {
        font-size: 1.2rem;
    }

    .team h4 {
        font-size: 1.3rem;
        letter-spacing: 1px;
        margin-bottom: 6px; 
        margin-top: 15px;
    }
    
    .team p {
        
        font-size: 0.8rem;
        font-weight: 800;

    }


    .services-title h1 {
        font-size: 2.4rem;
    }
    .services-title h2 {
        font-size: 1.2rem;
    }

    .services-content {
    
        padding: 0 30px;
        margin-top: 20px;

    }
    
    .service-title {
        font-weight: 900;
        font-size: 1.1rem;
        margin-bottom: 25px;
    }
    
    
    .services-description {
        font-size: 0.7rem;
        font-weight: 900;
    }

    .services-container {
        height: 150vh;
    }

    footer {
        height: 130px;
    }
    footer p {
        font-size: 0.9rem;
    }
    
}

@media (max-width: 415px){

    header {
        padding: 0 10px;     
    }

    .logo {
        width: 150px;
    }

    .logo-txt {
        font-size: 1.5rem;
    }

    .home-container {

        background-position: 60% 50%;
        display: flex;
        justify-content: center;
    }

    .presentation-container {
        width: 100%;
        height: 60%;
    }

    .presentation-container h3 {
        text-align: center;
        font-size: 0.9rem;
        letter-spacing: 0px;
        
    }

    .presentation-container h1 {
        font-size: 2.2rem;
    }

    .company-container {
        padding-top: 120px;
    
    }
  
   .about-title h1 {
      padding-top: 5px;  
      font-size: 2.3rem;
    }
  
    .about-text p {
      font-weight: 900;
      font-size: 1rem;
    }
  
  
    .about-text span {
      font-weight: 800;
      font-size: 1.1rem;   
    }

    .mission-container {
        
        margin-bottom:500px;
    }

    .services-container {
        height: 2000px;
        margin-top: 280px;
    }    

    .services-content {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        margin-top: 00px;
        gap: 80px;
    }

    .services-divider {
        width: 60%;
    }

    .services-title h1 {
        font-size: 2.7rem;
    }
    .services-title h2 {
        font-size: 1.5rem;
    }
    
    .service-title {
        font-weight: 900;
        font-size: 1.4rem;
        margin-bottom: 25px;
    }
    
    
    .services-description {
        font-size: 1rem;
        font-weight: 900;
    }

    .items-container{
            
        height: auto;
        padding-bottom: 120px;
    }

    .team h4 {
        font-size: 1.1rem;
        letter-spacing: 0.8px;
        margin-bottom: 10px; 
        margin-top:20px;
    }
    
    .team p {
        
        font-size: 0.7rem;
        font-weight: 900;

    }

}

@media (max-width: 369px){
    .contadoras-img {
        display: none;
    }
    
    .team {
        align-items: center;
    }

    .team h4 {

        padding-top: 20px;
        text-align: center;
        font-size: 2rem;
        letter-spacing: 1px;
        padding-bottom: 20px;
    }

    .team p {
        padding-top: 20px;
        text-align: center;
        font-size: 1rem;
        font-weight: 900;

    }
    .contadoras {

        height: 400px;

    }
}






 /*

  width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 120px;
    margin-top: 30px;

 .modal {
    width: 100%;
    height: 115vh;
    position: absolute;
    background-color: rgba(0, 0, 0,0.7);
}

.home-container {
    background-image: url(./images/mindsetBackground.png);
    background-size: cover;
    background-position: 50% 50%;
    width: 100%;
    height: 115vh;
    display: flex;
    justify-content: center;
}

.presentation-container {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-top: 150px;
    padding: 10px;
    color: #fff;
    z-index: 1;
}

.presentation-container h3 {
    letter-spacing: 6px;
    font-family: "Poppins", sans-serif;
    font-weight: 00;
    font-size: normal;
    color: #c8b050;
}

.presentation-container h1 {
    font-size: 3.5rem;
    text-align: center;
    color: white;
}

.presentation-container span {
    color: #9AA4BF;
}

.presentation-container p {
    text-align: center;
    font-size: 2.3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: normal;
    color: #fff;
}


.company-container {
    width: 100%;
    height: 140vh;
    background-color: #37488E;
}

.about-container {
    width: 100%;
    height: 100%;
    display: flex; 
}

.about-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
}



.about-title {
    width: 100%;
}

.about-title h1 {
    font-size: 2.5rem;
    color: #1E3585;
}

.about-text span {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.about-text p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #37488E;
}

.woaman-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: end;
 }

.contadora-img{
    position: relative;
    margin-left: 70px;
    height: 50%;
    width: 85%;
    margin-right: 0px;
    margin-bottom: 10px;
    border-top-left-radius: 25%;   
    border-bottom-left-radius: 25%;
}

.mission-container {
    width: 100%;
    height: 600px;
    position: relative;
    background-color: #fff;
    padding: 0 100px;
    text-align: center;
    gap: 90px;
}

.items-container {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1px;
    gap: 80px;
}
.mission-item {  
    display: flex; 
    flex-direction: column;
    align-items: center; 
    gap: 40px;
  }
  
.mission-icon {
    display: inline-flex;
    font-size: 2rem;
    color: #ffffff;
    width: 80px;
    justify-content: center;
    align-items: center;
    background: #1C3587;
    height: 80px;
    border-radius: 50%;
}

.items-container h5 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

.card-text {
    font-family: 'Inter Tight', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #343a40;
}

.professional-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
    background-color:#fff;
    align-items: center;
}

.professional-container h5 {
    font-size: 2.5rem;
    color: #1E3585;
}

.professional-content {
    display: flex;
    height: auto;
    width: auto;
    padding-top: 1px;
    align-items: center;
    justify-content: center;
}

.team {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.team img {
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.team h4 {
    font-size: 2.5rem;
    color: #cdba6d;
    letter-spacing: 3px;
    margin-bottom: 40px; 
}

.team p {
    margin-top: 40px; 
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #37488E;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.dividerteam {
    border: none;
    border-left: 3px solid #c8b050;
    border-radius: 20px;
    margin: 0 10px;
    height: 300px; 
    width: 3px;
}

.services-container {
    width: 100%;
    height: 130vh;
    position: relative;
    background-color: #37488E;
    display: flex;
    flex-direction: column;
}

.services-title{
    height: 30%;
    width: 100%;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-title h2 {
    margin: 0;
    font-size: 1.3rem;
    letter-spacing: 6px;
    font-weight: 500;
    color: #fff;
}

.services-title h1 {
    margin: 0;
    color: #c8b050;
    font-size: 3.5rem;
}

.services-content {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 120px;
    margin-top: 30px;
}

#services-divider {
    width: 5%;
}

.services-square {
    display: flex;
    width: 100%;
    height: 200px;
}

.services-icon {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.services-text {
    width: 85%;
    height: 100%;
    padding: 20px 40px 0 10px;
}

#services-icon {
    color: #c8b050;
    font-size: 2.5rem;
}

#services-icon:hover {
    color: #fff;
    cursor: pointer;
}

.service-title {
    color: #949AAD;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 25px;
    text-decoration: underline;
}

.service-title:hover {
    color: #c8b050;
    cursor: pointer;
}

.services-description {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

.contacts {
    width: 100%;
    height: 800px;
    position: relative;
    background-color: #CFD6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

.contacts h1 {
    font-size: 2.5rem;
    color: #1E3585;
    padding-bottom: 40px;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    height: 100%;  
    width: 95%; 
}

.banches-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content:space-between;
}

.branche {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 10px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 20px; 
    color: #000000;
    gap: 20px;
}

.branche h5 {
    color: #37488E;
    font-size: 2rem;
    padding-top: 50px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.branche li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.branche ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
}

.branche-txt {
    font-style: normal;
    line-height: 1.7;
}

.branche-maps {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px; 
}
.branche-map {
    width: 100%;
    height: 50%;
    margin-bottom: 1px; 
}

.branche-map iframe {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

footer {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #1C3587;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.whats {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

 


 */
