@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 240px;
    background-color: #CFD6E6;
    z-index: 3;
}

.logo {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px; /*espaçamento vertical */
}

.logo-img {
    width: 50%;
    height: auto;
}

.logo-txt {
    color: #fff;
    font-size: 2rem;
    font-family: "Playfair", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.logo-text:hover {
    color: #1E3283;
}

#menu-icon {
    display: none;
}

.nav {
    width: 60%;
}

ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
li {
    font-size: 0.9rem;
    font-family: 'Poppins', sans-serif;
    color: #1E3283;
    padding: 0 10px;
}

li:hover {
    color: #cdba6d;
    cursor: pointer;
}

header nav ul li a {
    border-radius: 5px;
    transition: all .3s ease;
    padding: 5px;
}

header nav ul li a.actived {
    background-color: #fff;
    color: #cdba6d;
}

/*menu responsivo */
/* parte do código para o menu*/
/* Estilos gerais para o menu hambúrguer */
.mobile-menu {
    display: none;
}

.mobile-menu.active {
    display: block; /* Mostra o menu quando ativo */
}
/* fim da parte do código para menu*/
 /*menu responsivo fim*/

.modal {
    width: 100%;
    height: 115vh;
    position: absolute;
    background-color: rgba(0, 0, 0,0.7);
}

.home-container {
    background-image: url(./images/mindsetBackground.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 115vh;
    display: flex;
    justify-content: center;
}

.presentation-container {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    margin-top: 150px;
    padding: 10px;
    color: #fff;
    z-index: 1;
}

.presentation-container h3 {
    letter-spacing: 6px;
    font-family: "Poppins", sans-serif;
    font-weight: 00;
    font-size: normal;
    color: #c8b050;
}

.presentation-container h1 {
    font-size: 3.5rem;
    text-align: center;
    color: white;
}

.presentation-container span {
    color: #9AA4BF;
}

.presentation-container p {
    text-align: center;
    font-size: 2.3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: normal;
    color: #fff;
}

.presentation-container button {
    width: 150px;
    height: 50px;
    background-color: #1E3283;
    color: #949AAD;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: normal;
    border: 2px solid #c8b050;
    font-size: 1rem;
    cursor: pointer;
}

.presentation-container button:hover {
    background-color: transparent;
    color: #fff;
}

.destaks-container {
    width: 100%;
    height: 300px;
    padding: 0 100px;
    position: absolute;
    top: 110vh; /* necessário validar*/
}

.destaks-content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
} 

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    color: #fff;
    padding: 0 110px;
}

#square-1 {
    background-color: #353e47; 
}

#square-1 i {
    color: #c8b050 ; 
    font-size: 3rem;
}

.destaks-span {
    font-size: 1.5rem;
    font-weight: bold;
}

.destaks-paragraph{
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
}

#destaks-span-gold {
    color: #c8b050;
}

#square-2 {
    background-color: #323a43;
}

#calculator-icon {
    font-size: 3rem;
}

#square-3 {
    background-color: #2e353d;
    padding: 0 100px;
}

#square-3 i {
    color: #c8b050;
    font-size: 3rem;
}

.divider {
    border: none;
    border-top: 3px solid #c8b050;
    border-radius: 20px;
    margin: 10px 0;
    width: 45%;
}
 
.divider-white {
    border-top: 3px solid #fff;
}
 

.company-container {
    width: 100%;
    height: 140vh;
    background-color: #37488E;
}

.about-container {
    width: 100%;
    height: 100%;
    display: flex; 
}

.about-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: end;
}

.about-text {
   width: 70%;
   height: 40%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   row-gap: 30px;
   padding: 0 10px;
   margin-bottom: 50px; 
   background-color: #fff;
   border-radius: 10%;
}

.about-title {
    width: 100%;
}

.about-title h1 {
    font-size: 2.5rem;
    color: #1E3585;
}

.about-text span {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.about-text p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #37488E;
}

.woaman-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: end;
 }

 

.contadora-img{
    position: relative;
    margin-left: 70px;
    height: 50%;
    width: 85%;
    margin-right: 0px;
    margin-bottom: 10px;
    border-top-left-radius: 25%;   /* Arredondar o canto superior esquerdo */
    border-bottom-left-radius: 25%; /* Arredondar o canto inferior esquerdo */
}

.mission-container {
    width: 100%;
    height: 600px;
    position: relative;
    background-color: #fff;
    padding: 0 100px;
    text-align: center;
    gap: 90px;
}

.items-container {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1px;
    gap: 80px;
}
.mission-item {  
    display: flex; 
    flex-direction: column;
    align-items: center; 
    gap: 40px;
  }
  
.mission-icon {
    display: inline-flex;
    font-size: 2rem;
    color: #ffffff;
    width: 80px;
    justify-content: center;
    align-items: center;
    background: #1C3587;
    height: 80px;
    border-radius: 50%;
}

.items-container h5 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

.card-text {
    font-family: 'Inter Tight', sans-serif;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #343a40;
}

.professional-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
    background-color:#fff;
    align-items: center;
}

.professional-container h5 {
    font-size: 2.5rem;
    color: #1E3585;
}

.professional-content {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: auto;
    padding-top: 1px;
    align-items: center;
    justify-content: center;
}

.team {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.contadoras {
    display: flex;
    flex-direction: row;
    width: 50%;
}

.team img {
    width: auto;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
}

.team h4 {
    font-size: 2.5rem;
    color: #cdba6d;
    letter-spacing: 3px;
    margin-bottom: 40px; 
}

.team p {
    margin-top: 40px; 
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    color: #37488E;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.dividerteam {
    border: none;
    border-left: 3px solid #c8b050;
    border-radius: 20px;
    margin: 0 10px;
    height: 300px; 
    width: 3px;
}

.services-container {
    width: 100%;
    height: 130vh;
    position: relative;
    background-color: #37488E;
    display: flex;
    flex-direction: column;
}

.services-title{
    height: 30%;
    width: 100%;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services-title h2 {
    margin: 0;
    font-size: 1.3rem;
    letter-spacing: 6px;
    font-weight: 500;
    color: #fff;
}

.services-title h1 {
    margin: 0;
    color: #c8b050;
    font-size: 3.5rem;
}

.services-content {
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 120px;
    margin-top: 30px;
}

#services-divider {
    width: 5%;
}

.services-square {
    display: flex;
    width: 100%;
    height: 200px;
}

.services-icon {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.services-text {
    width: 85%;
    height: 100%;
    padding: 20px 40px 0 10px;
}

#services-icon {
    color: #c8b050;
    font-size: 2.5rem;
}

#services-icon:hover {
    color: #fff;
    cursor: pointer;
}

.service-title {
    color: #949AAD;
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 25px;
    text-decoration: underline;
}

.service-title:hover {
    color: #c8b050;
    cursor: pointer;
}

.services-description {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
}

.contacts {
    width: 100%;
    height: 800px;
    position: relative;
    background-color: #CFD6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

.contacts h1 {
    font-size: 2.5rem;
    color: #1E3585;
    padding-bottom: 40px;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    height: 100%;  
    width: 95%; 
}

.banches-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content:space-between;
}

.branche {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 10px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 20px; 
    color: #000000;
    gap: 20px;
}

.branche h5 {
    color: #37488E;
    font-size: 2rem;
    padding-top: 50px;
    margin-left: 20px;
    margin-bottom: 25px;
}

.branche li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.branche ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: first baseline;
}

.branche-txt {
    font-style: normal;
    line-height: 1.7;
}

.branche-maps {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px; /* Adiciona um espaço entre os itens flex */  
    /*
    background-color: blue;
    padding: 10px 10px;
    align-items: center;
    */
}
.branche-map {
    width: 100%;
    height: 50%;
    margin-bottom: 1px; 
}

.branche-map iframe {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

footer {
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #1C3587;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.whats {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}




